checkpoints/
.vscode/

gif_images/
IL_mp4/
indoor_data/
predictor_assistance/
backup/

neural_data_maui/
neural_data_vino/
neural_data_loki/
neural_data_vino_obs/

*.mp4
*.gif
*.png
*.jpg
*.jpeg
*.json

__pycache__/
data/

